{% extends "layout.html" %}
{% load staticfiles %}

{% block page_title %}Geodjango demo{% endblock %}

{% block content %}
<h1>geodjango tests</h1>

<form method="post" action="./">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Search" />
</form>

{% if shops %}
<h2>Shops near you</h2>
<ul>
    {% for shop in shops %}
    <li><b>{{ shop.name }}</b>: distance: {{ shop.distance }}</li>
    {% endfor %}
</ul>
<div class="map" style="width: 500px; height: 500px;"></div>
{% endif %}
{% endblock %}

{% block footer_js %}
{% if shops %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var latlng = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");
        var mapOptions = {
            zoom: 11,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map($('.map')[0], mapOptions);
    
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"{{ address }}"
        });
        
        var contentStrings = [], 
            infoWindows = [],
            markers = [],
            latslngs = [];
        {% for shop in shops %}
            contentStrings[{{ forloop.counter0 }}] = '<div id="content">' +
                '<div id="siteNotice"></div>' +
                '<div class="pull-left"><img src="{% static "shops/strawberry-icon.png" %}" /></div>' +
                '<h4 id="firstHeading" class="firstHeading">{{ shop }}</h4>' +
                '<div id="bodyContent">' + 
                '<p>{{ shop.address }}<br>{{ shop.city }}</p>' + 
                '</div>' +
                '</div>';
            infoWindows[{{ forloop.counter0 }}] = new google.maps.InfoWindow({
                content: contentStrings[{{ forloop.counter0 }}],
            });
            
            latslngs[{{ forloop.counter0 }}] = new google.maps.LatLng("{{ shop.location.y }}", "{{ shop.location.x }}");
            markers[{{ forloop.counter0 }}] = new google.maps.Marker({
                position: latslngs[{{ forloop.counter0 }}],
                map: map,
                title:"{{ shop.name }}",
		icon: "{% static "shops/farm-2.png" %}",
            });
            google.maps.event.addListener(markers[{{ forloop.counter0 }}], 'click', function() {
                infoWindows[{{ forloop.counter0 }}].open(map, markers[{{ forloop.counter0 }}]);
            });

        {% endfor %}
    });
</script>
{% endif %}
{% endblock %}
